################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/senuvo/bin/Debug/net461
/.vs/senuvo
